
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

/* ============================= Navbar =========================== */

header{
    background: #000;
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.1);    
}
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
    position: relative;
}
.feedback-logo a{
    text-decoration: none;
    max-width: 150px;
    display: block;
    font-size: 25px;
    font-weight: bold;
    color: #ee1909;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    display: inline-block;
    font-family: 'Rsleway', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 13px 0;
    position: relative;
    transition: 0.4s ease;
    text-decoration: none;
}
#menu ul li:not(:last-child) a{
    margin-right: 18px;
}
#menu ul li:hover a{
    color: red;
}
#menu input,#menu label{
    display: none;
}
@media only screen and (min-width: 320px){
    #menu ul li:last-child a{
        color: #fff;
        padding-left: 24px;
        padding-right: 24px;
        border-radius: 30px;
        background-image: linear-gradient(270deg, red 0%, #ee1909 100%);
        box-shadow: 6px 6px 25px 0 rgba(214, 148, 37, 0.28);
    }
    #menu ul li:last-child a:hover{
        color: #000;

    }
}
@media only screen and (max-width: 767px){
    #menu label{
        display: block;
    }
    #menu label::before{
        content: "\2261";
        font-size: 44px;
    }
    #menu ul{
        position: absolute;
        top: 100%;
        background: #000;
        right: 0;
        left: 0;
        z-index: 3;
        height: calc(100vh - 58px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: 0.6s ease;
    }
    #menu input:checked + label::before{
        content: "\00d7";
    }
    #menu input:checked ~ ul{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

/* ======================= experience ======================= */

.experience{
    padding-top: 3vw;
    background: rgb(20, 20, 20);
}
.experience-text{
    text-align: center;
}
.feedback-input{
    padding-top: 1.2vh;
}
.feedback-span{
    color: #ee1909;
}
.input-1{
    padding-top: 3vw;
    text-align: center;
}
.input-2{
    text-align: center;
    padding-top: 1.5vw;
}
.input-3{
    text-align: center;
    padding-top: 1.5vw;
}
.input-4{
    text-align: center;
    padding-top: 1.5vw;
}
.input-5{
    text-align: center;
    padding-top: 1.5vw;
}
#user{
    color: #000;
    width: 27vw;
    height: 2.5vw;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
}
.exp-button{
    padding-left: 36vw;
    padding-top: 2vw;
}
.button{
    border-color: gray;
    padding: 12px 18px 12px 18px;
    border-radius: 20px;
    background-color: black;
}
.button:hover{
    background: red;
    border-color: red;
    color: #fff;
}

@media(max-width: 767px){
    #user{
        width: 30vw;
        height: 2.5vw;
    }
}
@media(max-width: 575px){
    #user{
        width: 50vw;
        height: 4vw;
    }
    .exp-button{
        padding-left: 28vw;
    }
}
@media(max-width: 400px){
    #user{
        width: 60vw;
        height: 5.5vw;
    }
    .exp-button{
        padding-left: 25vw;
    }
}

/* ===================== bottom ========================= */

.bottom{
    padding-top: 1.5vw;
    padding-bottom: 1.5vh;
    background: #000;
}
.bottom-p{
    text-align: center;
    color: rgb(92, 86, 86);
}
.bottom-span{
    color: #ee1909;
    font-size: 20px;
    font-weight: 700;
}